*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: work_sans;
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
html {
    font-family: inter, Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
}
.button_RSVP{
    border: 20px white;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

/* -----------HEADER------------------ */

header section{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.calling {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
}
.header_font_small {
    font-size: 0.8rem;
    text-align: center;

}
header section h1 {
    font-size: 5rem;
    text-align: center;
    line-height: 65px;
    margin: 3vh 0;
}
.intro {
    width: 40vw;
}


/* ------------MAIN----------- */

.pictures{
    display: grid;
    grid-template-columns:33% 33% 33% ;
    grid-template-rows: 50vw 50vw;
    margin: 1rem 1rem;
}
.article1 {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 5vh 18vh 1vh;
}
.article2 {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20vh 9vh 0 9vh;
}
.article2 h2 {
    font-size: 3rem;
}
.input_pics {
    font-size: 0.8rem;
    font-family: work_sans, Arial, Helvetica, sans-serif;
}
.article3 {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}
.article3 img {
    max-width: 70%;
}
.pic_2 {
    margin: -9vh 4vh 10vh 0;      
}
.pic_3 {
    margin: 31vh 0vh 0 15vh;
}
.article4 {
    background-color: yellow;
    display: flex;
    flex-direction: column;

}
.article4 img {
    max-width: 60%;
}
.pic_4 {
    margin-right: -8vw;
   align-self: flex-end;
}
.pic_5 {
    margin: 15vh 0 0 5vw;
    
}
.article5 {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding: 40vh 2vh 0 2vh;
}
.article6 {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article6 img {
    max-width: 60%;
}
.pic_6 {
    margin: 15vh 0 0 -5vw;
}
.pic_7 {
    margin-left: -12vw;
    /* padding-top: 21vh; */
    justify-self: flex-end;
}
