*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: work_sans;
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
html {
    font-family: inter, Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
}
.button_RSVP{
    border: 1px solid white;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 2vh 5vh;
    width: 13vw;
    text-align: center;

}

/* -----------HEADER------------------ */

.header_section{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120vh;
}
.calling {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
}
.header_font_small {
    font-size: 0.8rem;
    text-align: center;

}
header section h1 {
    font-size: 5rem;
    text-align: center;
    line-height: 65px;
    margin: 5vh 5vh;
}
.intro {
    width: 40vw;
    
}
.lower_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30vh 0 0 0;
    width: 95%;
}


/* ------------MAIN----------- */

.last_year {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5vh 5vh;
}
.large_text {
    font-size: 5.5rem;
}
.infos {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}
.theme {
    font-size: 1rem;
    list-style: none;
    margin-top: 1vh;
}
.number {
    font-size: 5rem;
    list-style: none;
    margin-top: 1vh;
}
.vector {
    margin-right: -5vh;
}
/* ------!pics---- */

.pictures{
    display: grid;
    grid-template-columns:33% 33% 33% ;
    grid-template-rows: 50vw 50vw;
    margin: 5vh 5vh;
}
.article1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 5vh 18vh 1vh;
}
.article2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20vh 9vh 0 9vh;
}
.article2 h2 {
    font-size: 3rem;
}
.input_pics {
    font-size: 0.8rem;
    font-family: work_sans, Arial, Helvetica, sans-serif;
}
.article3 {
    display: flex;
    flex-direction: column;
}
.article3 img {
    max-width: 70%;
}
.pic_2 {
    margin: -9vh 0 10vh 4vw;      
}
.pic_3 {
    margin: 31vh 0vh 0 15vh;
}
.article4 {
    display: flex;
    flex-direction: column;
}
.article4 img {
    max-width: 60%;
}
.pic_4 {
    margin-right: -8vw;
   align-self: flex-end;
}
.pic_5 {
    margin: 15vh 0 0 5vw;
    
}
.article5 {
    display: flex;
    flex-direction: column;
    padding: 40vh 2vh 0 2vh;
}
.article6 {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article6 img {
    max-width: 70%;
}
.pic_6 {
    margin: 10vh 0 0 -5vw;
}
.pic_7 {
    margin-left: -12vw;
    justify-self: flex-end;
}

/* ---------*Golden Bear*----------- */

.golden_bear {
    background-color: black;
    color: white;
    padding: 15vh 8vh 0 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20vh;
}
.intro_logo {
    width: 30%;
}
.quote_artist {
    width: 45%;
}
.quote {
    margin: 8vh 0 2vh 0;
    font-size: 1.8rem;
}
.lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72vh;
}
.bear_pics img:nth-of-type(1) {
    margin: 0 0 -20vh 0;
    z-index: 1;
    position: relative;
}
.bear_pics img:nth-of-type(2) {
    margin: 0 0 -12vh -7vh;
    z-index: 1;
    position: relative;
}
.rotating_frame {
    display: flex;
    justify-content: right;
    margin: -12vh -18vh 0 0;
}
@keyframes rotating_pic {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}
.rotating_frame img{
    animation: rotating_pic 9s linear infinite;
    width: 500px;
    height: auto;
}

/* ------------*poppyBear-----------  */

.poppy_bear {
    padding: 15vh 8vh 5vh 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lower_pb {
    display: flex;
    /* justify-content:space-around;  */
}
.first_pic_pb {
    width: 40%;
    margin: 20vh -35vh 5vh 6vh;
    z-index: 2;
    position: relative;
}
.second_pic_pb {
    width: 100%;
    margin: 0 0 0 30vh;
}

/* -------*END-------- */

.end  {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 15vh 8vh 0 8vh;
    
}
.small {
    font-size: 1rem;
    font-weight: lighter;
}
.text_end {
    width: 55%;
    font-size: 1.4rem;
    margin: 4vh 0;
    line-height: 8vh;
    font-weight: bold;
}

